
*,
*::after,
*::before {
    margin:0px;
    padding: 0px;
}

html {
    font-size:62.5%;
    
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  
}

@import './header.scss';
@import './footer.scss';
